<div fxFlex="10%" class="point" *ngIf="isTrash">

  <img src="../../../assets/restore_from_trash_black_24dp.svg" alt="archive" width="25px" height="25px"
    matTooltip="Untrash" (click)="restoreTrash()" />
</div>
<div fxFlex="10%" class="point" *ngIf="isTrash">

  <img src="../../../assets/delete_forever_black_24dp.svg" alt="archive" width="25px" height="25px"
    matTooltip="Detele Forever" (click)="deleteNote()" />
</div>
<div class="card-icons" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px grid">
  
  <div fxFlex="25%" class="point" *ngIf="!isTrash">

    <img src="../../../assets/alert.svg" alt="remainder" width="25px" height="25px" matTooltip="Remainder" />
  </div>
  <div fxFlex="25%" class="point" *ngIf="!isTrash">

    <img src="../../../assets/collaborator.svg" alt="collab" width="25px" height="25px" matTooltip="collaborator" />
  </div>

  <div fxFlex="25%" class="point" *ngIf="!isTrash">

    <mat-icon matTooltip="Add Image">image</mat-icon>

  </div>

  <div fxFlex="25%" class="point" *ngIf="!isTrash">

    <img src="../../../assets/color_lens.svg" alt="color" width="25px" height="25px" [matMenuTriggerFor]="colorMenu"
      matTooltip="Change Color" #color />
    <mat-menu #colorMenu="matMenu" yPosition="above" xPosition="after" [overlapTrigger]="false">
      <div *ngFor="let arrayOfColors of colorPalette" fxLayout="row" fxLayoutAlign="space-between center">
        <div *ngFor="let backcolor of arrayOfColors">
          <div [ngStyle]="{ 'background-color': backcolor.color }" class="circle"
            (click)="changeColor(backcolor.color)"></div>
        </div>
      </div>
    </mat-menu>
  </div>
  

  <div fxFlex="25%" class="point" *ngIf="!isArchive && !isTrash">

    <img src="../../../assets/archive.svg" alt="archive" width="25px" height="25px" matTooltip="Archive"
      (click)="archiveNote()" />
  </div>
  <div fxFlex="25%" class="point" *ngIf="isArchive">

    <div>
      <img src="../../../assets/unarchive_black_24dp.svg" alt="unarchive" width="25px" height="25px"
        matTooltip="Unarchive" (click)="restoreArchive()" />
    </div>
  </div>

  <div *ngIf="!isTrash">

    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="addToTrash()">
        <mat-icon>delete</mat-icon>
        <span>Delete</span>
      </button>

      <button mat-menu-item>
        <mat-icon>label</mat-icon>
        <span>Add Label</span>
      </button>
      <button mat-menu-item>
        <mat-icon>draw</mat-icon>
        <span>Add Drawing</span>
      </button>

      <button mat-menu-item>
        <mat-icon>content_copy</mat-icon>
        <span>Make Copy</span>
      </button>
    </mat-menu>
  </div>
</div>