<div
  class="card-icons"
  fxLayout="row"
  fxLayoutAlign="space-between center"
  fxLayoutGap="20px grid"
>
  <div fxFlex="25%">
    <!-- remainder  -->
    <img
      src="../../../assets/alert.svg"
      alt="remainder"
      width="25px"
      height="25px"
    />
  </div>

  <div fxFlex="25%">
    <!-- collaborator -->
    <img
      src="../../../assets/collaborator.svg"
      alt="collab"
      width="25px"
      height="25px"
    />
  </div>

  <div fxFlex="25%">
    <!-- color pallete -->
    <img
      src="../../../assets/color_lens.svg"
      alt="color"
      width="25px"
      height="25px"
    />
  </div>

  <div fxFlex="25%">
    <!-- Archive -->
    <img
      src="../../../assets/archive.svg"
      alt="archive"
      width="25px"
      height="25px"
    />
  </div>

  <div>
    <!-- more options -->
  </div>
</div>