.blue {
    color: #4285f4;
}
.red {
    color: #EA4335;
}
.yellow {
    color: #FBBC05;
}
.green {
    color: #34A853;
}
p {
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0.1em;
}