.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #9c9c9c;
    border-radius: 10px;
    width: 800px;

    padding: 25px;
    background: #fff;
    height: 70%;
  }
  
  .name {
    display: inline-block;
    width: 25%;
  }
  
  .passwd {
    display: inline-block;
    width: 31%;
  }
  
  .email {
    input {
      width: 200%;
    }
  }
  
  .element {
    width: 100%;
  }
  
  .mat-next {
    background-color: rgb(72, 72, 212);
    color: white;
  }
  
  .line {
    color: rgb(7, 123, 161);
    font-size: medium;
    font-weight: bold;
    text-decoration: none;
    margin-left: 5px;
  }
.logo {
    width: 45%;
    transform: rotate(-30deg);
}

mat-label {
    color: #000000;
  
  }