.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #9c9c9c;
  border-radius: 10px;
  width: 400px;
  height: 500px;
  padding: 25px;
  background: #fff;
  padding: 40px;
}

.full-width {
  width: 100%;
}

.mat-next {
  background-color: rgb(72, 72, 212);
  color: white;
}

.text-content {
  color: grey;
}

.light-blue {
  color: rgb(7, 123, 161);
  font-weight: bold;
  text-decoration: none;
}
mat-label {
  color: black;

}
.logo {
  width: 30%;
  transform: rotate(-30deg);
  padding-bottom: 2em;
}
