<div class="main" fxLayoutAlign="center center" style="margin-top: 0px" fxFlex.sm="70" fxFlex="100" fxFlex.xs="100">
    <mat-card fxFlex.xs="100"fxFlex="30">
      <mat-card-title fxLayoutAlign="center center">
       <img src="../../../assets/fundoo.png" alt="fundoo" class="logo">
      </mat-card-title>
  
      <form [formGroup]="forgetForm" autocomplete="off" novalidate (ngSubmit)="forgetPassword(forgetForm.value)">
        <mat-card-content>
          <mat-card-subtitle fxLayoutAlign="center center">Account Recovery</mat-card-subtitle>
  
          <div fxLayout="column" fxLayoutWrap fxLayoutGap="10px" fxLayout.xs="column">
            <div>
              <mat-form-field appearance="outline" fxFlex="100" fxFlex.xs="100">
                <mat-label>Enter Email</mat-label>
                <input matInput type="text" placeholder="Email" formControlName="email" id="email">
               
                <mat-error *ngIf="hasError('email', 'required')">email is required</mat-error>
              </mat-form-field>
            </div>
          </div>
  
          <div>
            <div fxLayoutAlign="space-between center">
              <a routerLink="../login">login instead</a>
              <button mat-raised-button color="primary" [disabled]="!forgetForm.valid">next</button>
            </div>
          </div>
        </mat-card-content>
      </form>
    </mat-card>
  </div>