.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .f{
    color:#4285F4;
    }
    .u{
    color:#DB4437
    }
    .n{
      color: #F4B400
    }
    .d{
      color:#4285F4;
    }
    .o{
      color:  #0F9D58
    }
    .O{
      color:#DB4437
    }
  
    a{
      text-decoration: none;
    }
    .main{
      min-height:-webkit-fill-available !important;
    }
    .logo {
        width: 30%;
        //transform: rotate(-30deg);
        padding-bottom: 2em;
      }